In [16]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:

##-----------------------------------------------------------------------------
##Importing & Checking the dataset

crop_df = pd.read_csv("C:/Users/SUWETHA/Documents/soilph/Crop_recommendation.csv")

In [18]:
crop_df.head()
crop_df.tail()
crop_df.info()
crop_df.describe()
crop_df.shape
crop_df.dtypes
crop_df.isnull().sum()
crop_df["label"].sort_values().unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

array(['apple', 'banana', 'blackgram', 'chickpea', 'coconut', 'coffee',
       'cotton', 'grapes', 'jute', 'kidneybeans', 'lentil', 'maize',
       'mango', 'mothbeans', 'mungbean', 'muskmelon', 'orange', 'papaya',
       'pigeonpeas', 'pomegranate', 'rice', 'watermelon'], dtype=object)

In [19]:
crop_df = crop_df.drop(columns='label')

In [6]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
crop_df['label']=labelencoder.fit_transform(crop_df['label'])

KeyError: 'label'

In [20]:
crop_df.head(100)

     N   P   K  temperature   humidity        ph    rainfall
0   90  42  43    20.879744  82.002744  6.502985  202.935536
1   85  58  41    21.770462  80.319644  7.038096  226.655537
2   60  55  44    23.004459  82.320763  7.840207  263.964248
3   74  35  40    26.491096  80.158363  6.980401  242.864034
4   78  42  42    20.130175  81.604873  7.628473  262.717340
..  ..  ..  ..          ...        ...       ...         ...
95  88  46  42    22.683191  83.463583  6.604993  194.265172
96  93  47  37    21.533463  82.140041  6.500343  295.924880
97  60  55  45    21.408658  83.329319  5.935745  287.576694
98  78  35  44    26.543481  84.673536  7.072656  183.622266
99  65  37  40    23.359054  83.595123  5.333323  188.413665

[100 rows x 7 columns]

In [21]:
##Partitioning the dataset

from sklearn.model_selection import train_test_split

X = crop_df.drop("ph", axis=1)
y = crop_df["ph"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [22]:
X.head()

    N   P   K  temperature   humidity    rainfall
0  90  42  43    20.879744  82.002744  202.935536
1  85  58  41    21.770462  80.319644  226.655537
2  60  55  44    23.004459  82.320763  263.964248
3  74  35  40    26.491096  80.158363  242.864034
4  78  42  42    20.130175  81.604873  262.717340

In [23]:
##-----------------------------------------------------------------------------
##Building the machine learning model
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [24]:

# Load your data and split it into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:

# Instantiate the random forest regressor model with desired hyperparameters
rf_regressor = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)

In [26]:
# Fit the model on the training data
rf_regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, random_state=42)

In [27]:
# Predict the output for the test data
y_pred = rf_regressor.predict(X_test)

In [28]:
# Evaluate the model's performance using mean squared error metric
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mse)

Mean squared error: 0.42983523113158184

In [29]:
import pickle 
Pkl_Filename = "soilph.pkl"  
pickle.dump(rf_regressor, open(Pkl_Filename, 'wb'))

In [31]:
predict= rf_regressor.predict([[90,42,43,20.8,82,202.9]])

print(predict)

[6.54049478]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(